.item_card{
    width: 170px;
    height: 305.87px;
    border-radius: 12px;
    position: relative;
}
.item_card::before{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 253.84px;
    content: "";
    z-index: 99;
    background: linear-gradient(0deg, rgba(29,29,29,0.97) 5%, rgba(250,239,239,0) 47%);
    cursor: pointer;
}
.item_card:hover{
    opacity: 0.7;
}
.item_card .img_card{
    width: 100%;
    height: 253.84px;
}
.info_movie{
    position: absolute;
    width: 169px;
    text-align: center;
    bottom: 0px;
    z-index: 999;
}
p.movie_des{
    font-size: 16px;
    font-weight: 400;
    color: white;
    width: 169px;
    height: 21px;
}
h3.name_movie{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    width: 169px;
    height: 42.83px;
}

